.content{
  background-color: navajowhite;
}

* .h1{
   background-color: navajowhite;
   width: 500px;
   color: gray;
   margin: 0 auto;
 }


 .floated-label-wrapper
 {
    position: relative;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
  }

  .dashboard-table {
    border-collapse: collapse;
    margin-bottom: 0;
  }
  
  .dashboard-table td {
    border-bottom: 1px dashed #d7d7d7;
  }
  
  .dashboard-table a {
    color: #242424;
  }
  
  .dashboard-table .bold {
    color: #0a0a0a;
    font-weight: 600;
  }
  
  .dashboard-table thead {
    background: none;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #8a8a8a;
    font-size: 0.8rem;
  }
  
  .dashboard-table thead a {
    color: #8a8a8a;
  }
  
  .dashboard-table tbody {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .dashboard-table tbody tr {
    transition: all 0.5s ease;
  }
  
  .dashboard-table tbody tr:hover {
    background: #fcf7da;
    transition: all 0.5s ease;
  }
  
  .dashboard-table tbody tr:focus {
    background: navajowhite;
  }
  
  .dashboard-table tr:last-child td {
    border-bottom: 0;
  }
  
  .dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  
  .dashboard-table-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  
  .button.success{
      margin: 15px;
  }
  
  a {
      margin: 50px;
  }

  .callout.secondary {
    width: auto;
  }

  .button.expanded {
    display: block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}

.button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
  
  .floated-label-wrapper label 
  {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;
    
  }
  
  .floated-label-wrapper label input[type=text],
  .floated-label-wrapper label input[type=email] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
    width: 400px;
    
  }

  [type="text"],[type="email"],[type="password"]{
    width: 90%;
    border-radius: 10px;
  }
  
  [type="text"]:focus,[type="email"]:focus,[type="password"]:focus{
     border-color: navajowhite;
  }
  
  .floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
    
  }
  
  .callout{
    border-radius: 20px;
    margin: 0 auto;
    width: 570px;
    padding: 10px;
  }
